body{
    background-color:#ffcc00;
    text-align: center;
}

.odd-selection{
    background-color: #ff9900;
}

.mood-title{
    font-size: 200px;

}

.select-btn__container{
    height: 30px;
    display:flex;
    justify-content: center;

}
.btn-update{
    background-color: blue;
    border: 1px solid white;
    color:white;
    border-radius: 5px;
    padding:5px 15px;
}
.mood__selector{
    border-radius: 5px;
    padding:5px 5px;
    color:blue;
    background-color: #
    border:1px solid blue;
}